:root {
  --marginDimension: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

/* Header */

.header {
  height: 85px;
  position: sticky;
  top: 0;
  background: black;
  z-index: 4;
}
.logo {
  margin-left: var(--marginDimension);
  margin-top: var(--marginDimension);
}
.register-icon {
  position: absolute;
  height: 25px;
  width: 20px;
  top: var(--marginDimension);
  right: var(--marginDimension);
  color: white;
}

/* Teaser */

.teaser-image {
  width: 100vw;
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.teaser-content {
  margin-left: var(--marginDimension);
  padding-top: 100px;
}
.teaser-title {
  color: white;
  font-size: 3em;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.teaser-play-button {
  margin-top: 10px;
  font-weight: bolder;
  padding: 8px 20px;
  border-radius: 5px;
}
.teaser-play-button:hover {
  background-color: darkgray;
}
.teaser-more-info-button {
  margin-left: 10px;
  font-weight: bolder;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: darkgray;
  color: white;
}
.teaser-more-info-button:hover {
  background-color: dimgray;
}
.teaser-desc {
  margin-top: 10px;
  width: 23em;
  color: white;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
}

/* Cards */
.bground {
  margin-top: 0;
}
.contentCards {
  background-color: #111;
}
.cards {
  margin-left: var(--marginDimension);
}
.cards-heading {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px 0px 15px 10px;
}
.individualSection {
  display: flex;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}
.left {
  position: absolute;
  z-index: 3;
  top: 8.5em;
  left: 0.5em;
}
.leftArrow {
  color: white;
  font-size: xx-large;
  transition: all 0.5s 0s;
}
.leftArrow:hover {
  transform: scale(1.3);
  transition: all 0.5s 0s;
}
.right {
  position: absolute;
  z-index: 3;
  top: 8.5em;
  right: 0.5em;
}
.rightArrow {
  color: white;
  font-size: xx-large;
  transition: all 0.5s 0s;
}
.rightArrow:hover {
  transform: scale(1.3);
  transition: all 0.5s 0s;
}
.image {
  width: 200px;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s 0s;
}
.image:hover {
  transform: scale(1.1);
  transition: all 0.5s 0s;
  cursor: grab;
}
